
header{
    background-image: url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image1.jpg);
    width: 100%;
    max-width: 100;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.7;
    min-height: 100vh;
    z-index: 1;
}
.container{
    background-color: #111;
    color: #fff;
    padding: 20px;
    max-width: 100%;
    max-width: 300px;
    position: absolute;
    top: 48%;
}
.p{
    position: relative;
    top: 49%;
}
.fz{
    font-size: 27px;
}
.container-2{
    background-color: #f4f4f4;
    color: #666;
    padding: 50px 80px;
}
body{
    font-size: 16px;
}
.f{
    font-weight: 600;
}
.ff{
    font-weight: 400;
}
.not-m{
    background-image: url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image2.jpg);
    width: 100%;
    max-width: 100;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.7;
    min-height: 50vh;
    z-index: 1;
    padding: 20px;
    color: white;
}
.aa{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}